<div class="jumbotron text-center">
<img class="logo" src="../assets/images/logo.jpg" alt="">
  <h1>Pick A Hand...</h1>
</div>


<div class="row text-center">
  <button class="btn btn-lg btn-success " (click)="play()"> Play</button>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6"><img id="1" src={{left}} alt="hand" (click)="selected(1)"></div>
    <div class="col-md-6"><img id="2" src={{right}} alt="hand" (click)="selected(2)"></div>

  </div>
  <div class="row text-center">
    <button class="btn btn-lg btn-success" (click)="dispalyAnswer()"> Show Answer</button>
    <h1>{{selectedVal}}</h1>
  </div>
</div>


